# .NET
bin/
obj/
*.user
*.suo

# Angular
/node_modules/
/dist/
/.angular/

# Visual Studio Code
.vscode/

# Secrets
appsettings.Development.json
appsettings.Production.json
# Git folders accidentally added
expenses-manager.git/
expenses0manager.git/

# Build artifacts
obj/
*.cache
*.sample

# Ignore AssemblyInfo temp files
.AssemblyInfoInputs.cache

# VS Code workspace history
.history/
